/* Card View */
.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  -moz-transition: -webkit-box-shadow .25s;
  -o-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.card:hover {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card-image {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-title {
  color: #ab4109;
  /* position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9; */
  max-width: 100%;
  /* padding: 24px; */
  font-size: 24px;
  font-weight: 300;
}

.card-content {
  display: block;
  padding: 24px;
  /* border-radius: 0 0 2px 2px; */
  color: rgba(24, 1, 1, 0.87);
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
  display: block;
}

.card .card-image img {
  display: block;
  /* border-radius: 2px 2px 0 0; */
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-style: none;
  transition: all 1s ease 0s;
  cursor: pointer;
}

.card .card-image img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2); 
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.card .card-action a {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  -moz-transition: color .3s ease;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.card .card-action a:hover {
  color: rgba(255, 171, 64, 0.6);
}

.item-rating {
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
  color: #ffcd47;
  font-size: 1.333em;
}

.item-price {
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  right: 0;
  text-align: right;
}

.amount {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  background: #47a0ff;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fefefe;
  font-size: 1.333em;
  font-family: Oxygen;
  font-weight: 700;
  font-style: normal;
}