.round-card-image {
  border-radius: 50%;
}

.card {
  background: inherit;
  border-radius: 50%;
}

.column {
  position: relative;
}

.content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}